<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- LUXON  -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/luxon/3.3.0/luxon.min.js' integrity='sha512-KKbQg5o92MwtJKR9sfm/HkREzfyzNMiKPIQ7i7SZOxwEdiNCm4Svayn2DBq7MKEdrqPJUOSIpy1v6PpFlCQ0YA==' crossorigin='anonymous'></script>


  <!-- VUE  -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


  <title>Luxon</title>
</head>
<body>

  <div id="app">
    <h1> {{ title }} </h1>
    <h2> {{ clock }} </h2>
    <p>I secondi sono {{ eveOddSeconds }}</p>
    <input type="text" v-model="saluto">
    <h3>{{salutoMaiuscolo}}</h3>
    <h4>Tutti i task</h4>
    <ul>
      <li v-for="task in tasks">{{task.text}}</li>
    </ul>
    <h4>Tutti i task fatti</h4>
    <ul>
      <li v-for="task in taskFatti">{{task.text}}</li>
    </ul>

    <h4>Tutti i task da fare</h4>
    <ul>
      <li v-for="task in taskDaFare">{{task.text}}</li>
    </ul>

  </div>
  

  <script src="script.js"></script>
</body>
</html>